* {
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  margin: 0;
  font-size: 1.4rem;
  font-family: -apple-system, "Lucida Grande", "Helvetica Neue", Helvetica, sans-serif;
  color: #363634; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  margin-bottom: 2rem; }

h1, h2 {
  font-size: 1.8rem; }

p {
  line-height: 2rem; }

.inline-title {
  font-weight: 600;
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #888883; }

button,
button:hover,
button:active,
button:focus,
input[type="submit"],
input[type="submit"]:hover,
input[type="submit"]:active,
input[type="submit"]:focus {
  background: none;
  box-shadow: none;
  border-radius: 0;
  border: 0; }

button:hover {
  cursor: pointer; }

.text-center {
  text-align: center; }

.hidden {
  display: none !important; }

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0; }

.list-reset {
  margin: 0;
  padding: 0; }
  .list-reset li {
    list-style: none; }

.flex-container {
  display: flex; }

.sidebar {
  flex-basis: 25vw;
  height: 100vh;
  background-color: #EDEDED;
  border-right: 1px solid #888883; }

.main {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  flex-direction: column; }

.main__info {
  flex-basis: 50px;
  padding: 1rem;
  border-bottom: 1px solid #888883; }

.main__content {
  padding: 1rem; }

.btn {
  background-color: #E55627;
  color: #fff;
  padding: 0.5em 0.75em;
  font-size: 1.4rem;
  line-height: 2rem; }
  .btn:hover {
    background-color: #E55627; }

.centered {
  position: relative;
  height: 100vh;
  width: 100vw; }

.centered__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.centered__content--intro {
  max-width: 400px; }

.scroll-text.js-animate .scroll-text__item {
  animation-name: scroll-text;
  animation-duration: 1.2s; }
.scroll-text.js-animate .scroll-text__item:first-child {
  animation-name: scroll-text-first-child; }

.scroll-text__item {
  opacity: 0;
  font-size: 1.8rem; }
  .scroll-text__item:nth-child(2) {
    animation-delay: 2.4s; }
  .scroll-text__item:nth-child(3) {
    animation-delay: 3.6s; }
  .scroll-text__item:nth-child(4) {
    animation-delay: 4.8s; }
  .scroll-text__item:nth-child(5) {
    animation-delay: 6s; }
  .scroll-text__item:nth-child(6) {
    animation-delay: 7.2s; }
  .scroll-text__item:nth-child(7) {
    animation-delay: 8.4s; }
  .scroll-text__item:nth-child(8) {
    animation-delay: 9.6s; }

.category {
  display: flex;
  flex-direction: column;
  height: 100vh; }

.category-item {
  position: relative;
  padding: 1rem;
  flex: 1 1 auto;
  border-top: 1px solid #888883;
  background-color: #EDEDED;
  transition: background-color 0.2s ease; }
  .category-item:first-child {
    border-top: none; }
  .category-item:hover {
    cursor: pointer; }
  .category-item:hover {
    background-color: #CCC9C6; }

.category-item__content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 2rem;
  line-height: 2rem; }

.category-item__badge {
  background-color: #E55627;
  color: #fff;
  position: absolute;
  top: 0;
  right: 2rem;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  font-size: 1.1rem;
  text-align: center; }

.category-image {
  display: block;
  margin-bottom: 1rem;
  height: 80px;
  opacity: 0;
  transform: translateX(-20px);
  transition: all 0.2s ease-out; }

.category-info-container {
  padding-left: 1rem; }

.category-info-title {
  margin-bottom: 1rem; }

.has-category {
  display: none; }

.image-item {
  padding: 0.5rem 0 0.5rem 1rem;
  border-left: 3px solid #EDEDED; }
  .image-item:hover {
    border-left-color: #CCC9C6;
    background-color: #EDEDED; }

.active-category-scooter .has-category--scooter {
  display: block; }
.active-category-scooter .category-item--scooter {
  background-color: #CCC9C6; }
.active-category-scooter .category-image--scooter {
  transform: translateX(0);
  opacity: 1; }

.active-category-bicycle .has-category--bicycle {
  display: block; }
.active-category-bicycle .category-item--bicycle {
  background-color: #CCC9C6; }
.active-category-bicycle .category-image--bicycle {
  transform: translateX(0);
  opacity: 1; }

.active-category-car .has-category--car {
  display: block; }
.active-category-car .category-item--car {
  background-color: #CCC9C6; }
.active-category-car .category-image--car {
  transform: translateX(0);
  opacity: 1; }

.active-category-train .has-category--train {
  display: block; }
.active-category-train .category-item--train {
  background-color: #CCC9C6; }
.active-category-train .category-image--train {
  transform: translateX(0);
  opacity: 1; }

.active-category-airplane .has-category--airplane {
  display: block; }
.active-category-airplane .category-item--airplane {
  background-color: #CCC9C6; }
.active-category-airplane .category-image--airplane {
  transform: translateX(0);
  opacity: 1; }

.active-category-spaceship .has-category--spaceship {
  display: block; }
.active-category-spaceship .category-item--spaceship {
  background-color: #CCC9C6; }
.active-category-spaceship .category-image--spaceship {
  transform: translateX(0);
  opacity: 1; }

.active-category-teleportation .has-category--teleportation {
  display: block; }
.active-category-teleportation .category-item--teleportation {
  background-color: #CCC9C6; }
.active-category-teleportation .category-image--teleportation {
  transform: translateX(0);
  opacity: 1; }

@keyframes scroll-text {
  0% {
    opacity: 0;
    transform: translateY(50px); }
  25% {
    opacity: 1;
    transform: translateY(0); }
  75% {
    opacity: 1;
    transform: translateY(0); }
  100% {
    opacity: 0;
    transform: translateY(-50px); } }
@keyframes scroll-text-first-child {
  0% {
    opacity: 1;
    transform: translateY(0); }
  75% {
    opacity: 1;
    transform: translateY(0); }
  100% {
    opacity: 0;
    transform: translateY(-50px); } }

/*# sourceMappingURL=app.css.map */
