// Variables

$font-family-sans: -apple-system, "Lucida Grande", "Helvetica Neue", Helvetica, sans-serif;
$base-font-size: 1.4rem;
$font-size-large: 1.8rem;
$font-size-small: 1.1rem;

$base-line-height: 2.0rem;
$spacing: 1.0rem;
$spacing-half: $spacing / 2;

$transition-timing: 0.2s;

$color-main: #E55627;
$color-white: #fff;

$greys: (
  lightest: #EDEDED,
  lighter:  #E0E1E0,
  light:    #CCC9C6,
  mid:      #888883,
  dark:     #585753,
  darker:   #363634,
  darkest:  #232323
);

@function color-grey($scale) {
  @return map-get($greys, $scale)
}

@mixin bg-color-main {
  background-color: $color-main;
  color: $color-white;
}

$border: 1px solid color-grey(mid);

// Setup

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-size: $base-font-size;
  font-family: $font-family-sans;
  color: color-grey(darker);
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  margin-bottom: $base-line-height;
}

h1, h2 {
  font-size: $font-size-large;
}

p {
  line-height: $base-line-height;
}

.inline-title {
  font-weight: 600;
  font-size: $font-size-small;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: color-grey(mid);
}

button,
button:hover,
button:active,
button:focus,
input[type="submit"],
input[type="submit"]:hover,
input[type="submit"]:active,
input[type="submit"]:focus {
  background: none;
  box-shadow: none;
  border-radius: 0;
  border: 0;
}

button:hover {
  cursor: pointer;
}

// Utilities

.text-center {
  text-align: center;
}

.hidden {
  display: none !important;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}

.list-reset {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
  }
}

// Main Layout

.flex-container {
  display: flex;
}

.sidebar {
  flex-basis: 25vw;
  height: 100vh;
  background-color: color-grey(lightest);
  border-right: $border;
}

.main {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  flex-direction: column;
}

.main__info {
  flex-basis: 50px;
  padding: $spacing;
  border-bottom: $border;
}

.main__content {
  padding: $spacing;
}

// Components

.btn {
  @include bg-color-main;
  padding: 0.5em 0.75em;
  font-size: $base-font-size;
  line-height: $base-line-height;

  &:hover {
    background-color: $color-main;
  }
}

.section {

}

.centered {
  position: relative;
  height: 100vh;
  width: 100vw;
}

.centered__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered__content--intro {
  max-width: 400px;
}

$scrollTextDistance: 50px;
$scrollTextAnimationDuration: 1.2s;

.scroll-text {
  &.js-animate .scroll-text__item {
    animation-name: scroll-text;
    animation-duration: $scrollTextAnimationDuration;
  }

  &.js-animate .scroll-text__item:first-child {
    animation-name: scroll-text-first-child;
  }
}

.scroll-text__item {
  opacity: 0;
  font-size: $font-size-large;

  @for $i from 2 through 8 {
    &:nth-child(#{$i}) {
      animation-delay: $scrollTextAnimationDuration * $i;
    }
  }
}

.category {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.category-item {
  position: relative;
  padding: $spacing;
  flex: 1 1 auto;
  border-top: $border;
  background-color: color-grey(lightest);
  transition: background-color $transition-timing ease;

  &:first-child {
    border-top: none;
  }

  &:hover {
    cursor: pointer;
  }

  &:hover {
    background-color: color-grey(light);
  }
}

$categoryBadgeSize: $spacing * 2;

.category-item__content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: $categoryBadgeSize;
  line-height: $categoryBadgeSize;
}

.category-item__badge {
  @include bg-color-main;
  position: absolute;
  top: 0;
  right: $spacing * 2;
  width: $categoryBadgeSize;
  height: $categoryBadgeSize;
  line-height: $categoryBadgeSize;
  font-size: $font-size-small;
  text-align: center;
}

.category-image {
  display: block;
  margin-bottom: $spacing;
  height: 80px;
  opacity: 0;
  transform: translateX(-20px);
  transition: all $transition-timing ease-out;
}

.category-info-container {
  padding-left: $spacing;
}

.category-info-title {
  margin-bottom: $base-line-height / 2;
}

.has-category {
  display: none;
}

.image-item {
  padding: $spacing-half 0 $spacing-half $spacing;
  border-left: 3px solid color-grey(lightest);

  &:hover {
    border-left-color: color-grey(light);
    background-color: color-grey(lightest);
  }
}

$categories: scooter, bicycle, car, train, airplane, spaceship, teleportation;

@each $category in $categories {
  .active-category-#{$category} {
    .has-category--#{$category} {
      display: block;
    }

    .category-item--#{$category} {
      background-color: color-grey(light);
    }

    .category-image--#{$category} {
      transform: translateX(0);
      opacity: 1;
    }
  }
}

// Animations

@keyframes scroll-text {
  0% {
    opacity: 0;
    transform: translateY($scrollTextDistance);
  }

  25% {
    opacity: 1;
    transform: translateY(0);
  }

  75% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-$scrollTextDistance);
  }
}

@keyframes scroll-text-first-child {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  75% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-$scrollTextDistance);
  }
}
